.list-cell {
    -fx-font: 30pt "Arial";
    -fx-cell-size: 123.5px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: "Exo";
    -fx-text-fill: white;
}

.text-area {
    text-area-background: azure;
    -fx-background-color: azure;
    -fx-fill: white;
    -fx-text-fill: black;
    -fx-highlight-text-fill: white;
    -fx-highlight-fill: black;
}

.list-view {
    -fx-background-color: skyblue;
}

.cell {
    -fx-background-color: skyblue;
}

.cell:selected {
    -fx-background-color: aquamarine;
}

.label {
    -fx-background-color: aquamarine;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}